<!-- <input type="file" (change)="onFileChange($event)" />
<button type="button">Subir archivo</button>

<swiper-container  class="container-ppal">
        @for (listado of data; track listado; let i = $index) {
            <swiper-slide> -->
                <!-- <table>
                    <thead>
                        <tr>
                            <th>
                                <span class="h5">Nombre</span>
                            </th>
                            <th>
                                <span class="h5">Asiste</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (item of showData[i]; track $index) {
                            <tr>
                                <td>{{item['nombre']}}</td>
                                <td>{{item['asiste']}}</td>
                            </tr>
                        }
                    </tbody>
                </table> -->
                <!-- uno
            </swiper-slide>
        }
</swiper-container> -->